.btn_login {
  margin-bottom: 20px;
  background-color: var(--brand-color);

  padding: 5px 10px;
  border-radius: 5px;
  color: #fff !important;
  outline: none;
  width: 100%;
  height: 60px;
  font-size: 18px;

  text-align: center;
  transition: all 0.2s ease-in-out;
  cursor: pointer;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.btn_login:hover {
  background-color: var(--secondary-color);
}

.btn_login_inactive {
  background-color: var(--secondary-color);
}

@media screen and (max-width: 900px) {
  .btn_login {
    height: 50px;
    font-weight: 500;
    font-size: 16px;
  }
}
