.wrapper {
  display: grid;
  grid-template-columns: 60% 40%;
  margin: 50px 0;
  gap: 30px;
}

.reciept_container {
  background-color: #fff;
  /* box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px; */
  padding: 10px;
}
.reciept_container > h4 {
  text-align: center;
  margin-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(233, 233, 233);
  opacity: 0.8;
  color: red;
  margin-bottom: 20px;
}
.logo_container {
  display: flex;
  justify-content: end;
  margin-top: 20px;
}

.btn_group {
  margin-top: 10px;
  gap: 20px;

  display: grid;
  grid-template-columns: 1fr 1fr;
}

.btn_group button:nth-of-type(1) {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  border-radius: 4px;
  border: none;
  background: #1655f2;
  padding: 10px;
  cursor: pointer;
}
.btn_group button:nth-of-type(1):hover {
  transition: 0.3s ease-in-out;
  background: #3a72ff;
}
.btn_group button:nth-of-type(2) {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  border-radius: 4px;
  border: 1px solid #1655f2;
  padding: 10px;
  background: transparent;
  color: #2a2a2a;
  cursor: pointer;
}
.btn_group button:nth-of-type(2):hover {
  transition: 0.3s ease-in-out;
  background: #1655f2;
  color: #fff;
}

/* new style  */
.receipt_card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgb(233, 233, 233);
  padding-bottom: 20px;
}

.receipt_card p {
  font-size: 15px;
}

/* .receipt_card > p:nth-of-type(1),
.receipt_card > p:nth-of-type(2) {
  font-weight: 600;
} */
.detail_key {
  opacity: 0.8;
}

@media screen and (max-width: 760px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0px;
    padding: 10px;
  }

  /* utilities */
  .btn_group {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
