.repair_section {
  margin-top: 30px;
  margin-bottom: 100px;
}
.empty_notification {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.empty_notification .image_container {
  position: relative;
  width: 300px;
  height: 300px;
}

.repair_wrapper {
  margin-top: 20px;
}
.repair_card > p:nth-of-type(1) {
  font-weight: 600;
}
.repair_card > p:nth-of-type(2) {
  font-size: 15px;
  margin: 5px 0;
}
.repair_card > p:nth-of-type(3) {
  font-size: 11px;
}

.card_description {
  margin: 10px 0px;
  font-size: 15px;
}
.repair_card > p:last-child {
  font-size: 13px;
  opacity: 0.8;
}
.repair_card {
  background-color: #f1f1f1;
  background-color: #eff4ff;
  padding: 15px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
  position: relative;
}
.repair_card:hover {
  transition: all 0.2s ease-in-out;
  background-color: #e7e7e7;
  background-color: #e2ebff;
}

.status {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 11px;
  margin: 10px 10px 0 0;
  border-radius: 5px;
  padding: 2px 7px;
}

.completed {
  background-color: #ccffcc;
  color: #009900;
}

.pending {
  background-color: #ffb3b3;
  color: #e60000;
}

@media screen and (max-width: 900px) {
  .empty_notification .image_container {
    width: 150px;
    height: 150px;
  }

  .status {
    right: 0;
    top: 67px;
    font-size: 10px;
    margin: 10px 10px 0 0;
  }
}
