:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --bg-color: #fafafa;
  --font-color: #fff;

  --brand-color: #ff3333;
  --secondary-color: #e70a0a;
  /* premium card seetings */
  /* fonts */

  /* font sizes */
  --font-size-7xs: 6px;
  --font-size-6xs-4: 6.4px;
  --font-size-7xs-5: 5.5px;

  /* Colors */
  --color-gray-100: rgba(0, 0, 0, 0.5);
  --color-gray-200: rgba(0, 0, 0, 0.6);
  --color-black: #000;

  /* Gaps */
  --gap-11xs-8: 1.8px;

  /* Paddings */
  --padding-3xs: 10px;
  --padding-xl: 20px;
  --padding-12xs: 1px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth !important;
}

body {
  overflow-x: hidden;
  font-family: var(--font-poppins);
}

p,
button,
h1,
h2,
h3,
h4,
h5,
select,
span,
li,
input {
  font-family: var(--font-poppins);
  letter-spacing: 0.05em;
}
input::-ms-reveal {
  display: none;
}
a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
}

/* for my html2pdf package for the image not to break */
