.login_container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 100%;
  height: 100vh;
  margin-bottom: 70px;
}

.logo_container {
  position: absolute;
  top: -30px;
  left: 0;
}
.container_inner {
  position: absolute;
}
.logo_item {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.login_wrapper {
  width: 458px;
  height: fit-content;
  border-radius: 8px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}
.login_wrapper > h3 {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 30px;
  text-align: center;
}

.input_wrapper {
  border: 1px solid black;
  margin-bottom: 20px;
  padding-left: 8px;
  padding-bottom: 8px;
  border-radius: 5px;
}
.login_wrapper label {
  color: rgb(204, 204, 204);
  color: black;
  font-size: 13px;
}
.login_wrapper input {
  width: 100%;
  padding: 7px;
  padding-left: 0px;
  font-size: 15px;
  font-family: var(--font-roboto);

  background: transparent;
  border: none;
  outline: none;
  fill: none;
  color: black;
}
.login_wrapper input:-webkit-autofill,
.login_wrapper input:-webkit-autofill:hover,
.login_wrapper input:-webkit-autofill:focus,
.login_wrapper input:-webkit-autofill:active {
  -webkit-text-fill-color: black;
  transition: background-color 5000s ease-in-out 0s;
}
.forgot_password {
  font-size: 13px;
  font-family: var(--font-poppins);

  margin-left: auto !important;
  color: #00b8c2;
  display: block;
  margin-bottom: 20px;
}

/* utilities  */
.btn_hero {
  margin-bottom: 20px;

  background: linear-gradient(170.04deg, #2282f0 -8.91%, #2252f0 99.52%);
  box-shadow: 0 14px 14px rgba(28, 75, 230, 0.07),
    0 7px 14px rgba(65, 141, 241, 0.26);

  padding: 5px 10px;
  border-radius: 5px;
  color: #fff !important;
  outline: none;
  width: 100%;
  height: 60px;
  font-size: 18px;
  font-family: var(--font-poppins);

  text-align: center;
  transition: all 0.2s ease-in-out;
}

.btn_hero:hover {
  box-shadow: none;
  background: linear-gradient(170.04deg, #579ceb -8.91%, #1648eb 99.52%);
}

.btn_hero_inactive {
  box-shadow: none;
  background: linear-gradient(170.04deg, #579ceb -8.91%, #1648eb 99.52%);
}

.create_account {
  font-size: 13px;
  font-family: var(--font-poppins);
  color: black;
  margin-left: auto !important;
}

.create_account_inner {
  font-weight: 600;
}
@media screen and (max-width: 900px) {
  .login_wrapper > h3 {
    font-size: 23px;
  }

  .logo_item {
    margin-top: 20px;
  }

  .login_wrapper {
    width: 340px;
    height: auto;
    border-radius: 8px;
    padding: 20px;
    background: none;
  }

  /* utilities  */
  .btn_hero {
    height: 50px;
    font-weight: 500;
    font-size: 16px;
    font-family: var(--font-rubik);
  }
}
